{% extends 'base.html' %}


{% block head %}

{% endblock %}

{% block body %}
<center>
<div class="container p-3">
    <div class="card">
        <h2>Account Information</h2>
        <p>Username: {{user['Username']}}</p>
        <p>Display Name: {{user['Display Name']}}</p>
    </div>
</div>
</center>
<br> <br>
<center><div class="container p-3">
    <div class="card">
        <h2>Notifications</h2>

        <form action="/account" method="POST" enctype="multipart/form-data">
        <table class="table">
            <thead>
                <tr>
                  <th>Timestamp</th>
                  <th>Notification</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                {% for n in user['Notifications'] %}
                    <tr>
                        <td>{{n['Timestamp']}}</td>
                        <td>{{n['Message']}}</td>
                        <td>
                            <input type = 'hidden' name = "notif" value ="{{n}}" />
                            <button type='submit' class='btn btn-danger text-white'>X</button>
                        </td>
                    </tr>
                {%endfor%}
              </tbody>
            </table>
        </form>
    </div>
</div></center>


<center><h2 class="text-danger"> Your Current Listed Items: {{user['Listings']|length}}</h2></center>

{% for item in user['Listings'] %}
<center>
    <div class="container">
        <div class = "card mt-5 border-danger rounded-lg" style="width:800px">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <!--<a href = '{{ url_for('displayItem', _id = item['_id'])}}'> -->
                    <img src="data:image/jpeg;base64,{{ item['Image'] }}" alt="img_data"  id="imgslot" class ="img-size-list card-img"></a>
                </div>
                <div class="col-sm-7">
                    <div class = "card-body">
                        &emsp;<div class = "list-name list-margin product-name">{{item['Name']}}</div></a>
                        &emsp;&emsp;&emsp;&emsp; <div class = "list-margin">Price: ${{item['Price']}}</div>
                        &emsp; <div class = "list-margin">Description: {{item['Description']}}</div>
                        &emsp;<div class = "list-margin">Type of Product: {{item['Type']}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
{%endfor%}
<br> <br>
<center><button onclick="window.location.href = '/'" class = "btn btn-primary">Home</button></center>
<br> <br>
{% endblock %}