{% extends 'base.html' %}


{% block head %}

{% endblock %}

{% block body %}
<center>
<h2>Account Information</h2>
<p>Username: {{user['Username']}}</p>
<p>Display Name: {{user['Display Name']}}</p>
</center>
<br> <br>
<h2>Notifications</h2>
{% for n in user['Notifications'] %}
<p>{{n}}</p>
{%endfor%}
<center><h2> Your Current Listed Items: {{user['Listings']|length}}</h2></center>

{% for item in user['Listings'] %}
<center>
    <div class="container">
        <div class = "card mt-5 border-primary rounded-lg" style="width:800px">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <!--<a href = '{{ url_for('displayItem', _id = item['_id'])}}'> -->
                    <img src="data:image/jpeg;base64,{{ item['Image'] }}" alt="img_data"  id="imgslot" class ="img-size-list card-img"></a>
                </div>
                <div class="col-sm-7">
                    <div class = "card-body">
                        &emsp;<div class = "list-name list-margin product-name">{{item['Name']}}</div></a>
                        &emsp;&emsp;&emsp;&emsp; <div class = "list-margin">Price: ${{item['Price']}}</div>
                        &emsp; <div class = "list-margin">Description: {{item['Description']}}</div>
                        &emsp;<div class = "list-margin">Type of Product: {{item['Type']}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
{%endfor%}
<br> <br>
<center><button onclick="window.location.href = '/'" class = "btn btn-primary">Home</button></center>
<br> <br>
{% endblock %}