{% extends 'base.html' %}

{% block head %}
<style>
    ul
    {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
</style>
{%endblock%}

{%block body%}
<h1>Buyer Tab</h1>

<form method="POST" action = "/itemlist">
<!-- <input type="text" id="searchBar" onkeyup="searchProducts()" placeholder="Search Concept">
<ul id="list">
  <li class = 'products'>abProduct1</li>
  <li class = 'products'>bcProduct2</li>
  <li class = 'products'>cdProduct3</li>
  <li class = 'products'>deProduct4</li>
  <li class = 'products'>efProduct5</li>
</ul> ^ used for search testing-->


<select id = "productList" onchange="dropDown()" name = "type">
    <option value = "Any">Any</option>
    <option value = "Electronic">Electronics</option>
    <option value = "Furniture">Furniture</option>
    <option value = "Book">Book</option>
    <option value = "Sports Gear">Sports Gear</option>
    <option value = "Clothing">Clothing</option>
</select>

<input type = "text" id = "choice" name = "choice" placeholder="Search Products"
onkeydown="display(event)">
<button type ="submit">Submit</button>
</form>

<a href="/"><input type="button" value="Return to Marketplace"></a>
{%endblock%}