{% extends 'base.html' %}


{% block head %}

{% endblock %}

{% block body %}
<h3>Your Cart</h3>
{%for item in cart%}
    <p>{{item['Name']}}</p>
    <p><img src="data:image/jpeg;base64,{{ item['Image'] }}" alt="img_data"  id="imgslot" class = "image-size-view image"></p>
    <p>Price: ${{item['Price']}}</p>
    <p>{{item['Description']}}</p>
    <form action='/cart', method = 'POST'>
        <input type = 'hidden' name = "itemID" value ="{{item['_id']}}" />
        <button type='submit'>Remove</button>
    </form>
    <br>
{%endfor%}
{%if cart|length > 0%}
<form action='/checkout', method='POST', enctype="multipart/form-data">
    <input name='cart' type='hidden' value='{{cart}}'/>
    <button type='submit'>Proceed to Checkout</button>
</form>
{%endif%}
{% endblock %}