{% extends 'base.html' %}

{% block head %}
<title>GAP's List</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="buy">Buy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sell</a>
      </li>
    </ul>
  </nav>
<h1>Home Page</h1>
<hr>
<p>Marketplace Instructions:</p><br>
<p>We provide services to Buy and Sell</p>
<ul>
    <li>Electronics</li>
    <li>Furniture</li>
    <li>Clothing</li>
    <li>Books</li>
    <li>Sports Gear</li>
</ul>
<p>
    If you are just browsing, have fun! You must have an account
    with us if you want to buy or sell products for quality assurance
    purposes.
</p>
<button>
    Buyer Tab</button>
<button>Seller Tab</button>
{% endblock %}