{% extends 'base.html' %}

{% block head %}

{%endblock%}

{%block body%}
<div class="container">
    <div class = "card p-5 mt-3 border-danger rounded-lg" style="width:1000px">
        <div class="row no-gutters">
            <div class="col-sm-5">
                <img src="data:image/jpeg;base64,{{ item['Image'] }}" alt="img_data"  id="imgslot" class ="img-size-list card-img">
            </div>
            <div class="col-sm-7">
                <div class = "card-body">
                    <h1 class="mt-0">{{item['Name']}}</h1>
                            <br>
                            <p>Price: ${{item['Price']}}</p>
                            <p>{{item['Description']}}</p>


                            {% for detail in item['Product Details'] %}

                            {% if detail == 'Dimensions' %}
                            <p>Length: {{item['Product Details']['Dimensions']['Length']}}
                            <br>Width: {{item['Product Details']['Dimensions']['Width']}}
                            <br>Height: {{item['Product Details']['Dimensions']['Height']}}</p><br>

                            {% else %}
                            <p>{{detail}}: {{item['Product Details'][detail]}}</p>
                            {%endif%}
                            {%endfor%}
                            <p>Seller: {{item['Seller']}}</p>
                        </div>
                        <form action = '{{ url_for('displayItem', _id = item['_id'])}}' method="POST">
                            <div class="clearfix mr-3">
                            <input type = 'hidden' name = "objectID" value ='{{item['_id']}}' />
                            {% if item['Seller'] != user %}
                            <span class="float-right"><button type = 'submit' class='btn btn-success'>Add To Cart</button></span>
                            {%endif%}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
{%endblock%}