{% extends 'base.html' %}

{% block head %}
<style>
    ul
    {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
</style>
{%endblock%}

{%block body%}
<h1 class = "indent">Search Results</h1>

{% for item in lst %}
<p>
<br>
&emsp;<span class = "list-background"><a href = '{{ url_for('displayItem', _id = item['_id'])}}'><div class = "list-name list-margin">{{item['Name']}}</div></div></a>
&emsp;<img src="data:image/jpeg;base64,{{ item['Image'] }}" alt="img_data"  id="imgslot" class ="image-size">
&emsp;&emsp;&emsp;&emsp; <div class = "list-margin">Price: ${{item['Price']}}</div>
&emsp; <div class = "list-margin">Description: {{item['Description']}}</div>
&emsp;<div class = "list-margin">Type of Product: {{item['Type']}}</div>
<br>
<br>
</span>
&emsp;<div>--------------------------------------------------------</div>
</p>
{% endfor %}
{% if lst|length == 0 %}
<h5>Sorry, there were no results for {{keyword}} in {{typ}}</h5>
{%endif%}

<a href="/buy"><input type="button" value="Return to Buyer Tab"></a>

{%endblock%}
