{% extends 'base.html' %}

{% block head %}
<style>
    ul
    {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
</style>
{%endblock%}

{%block body%}

{% if err == True %}
<div class="alert alert-danger">
    <strong>Error!</strong> Re-enter your information.
</div>
{%endif%}

<br> <br>

<form class= "container">
<form method="POST" action="/sell/post/confirmation" enctype="multipart/form-data">
    <div class="form-group row">
&emsp;<span class="col-sm-2 col-form-label">Product Type: </span> <input type='text' class="form-control-sm" id='prodTyp' name='prodTyp' value="{{typ}}" readonly>
    </div>
<div class="form-group row">
&emsp;<span class="col-sm-2 col-form-label">Enter Product Name: </span><input type="text" id="name" name="name">
</div>
<div class="form-group row">
&emsp;<span class="col-sm-2 col-form-label">Enter Product Description: </span><br>&emsp;<textarea class="form-control-sm" rows="3" id="desc" name="desc"></textarea>
</div>
<div class="form-group row">
&emsp;<span class="col-sm-2 col-form-label">Enter Product Price: $</span><input type="text" id="price" name="price">
</div>
<div class="form-group row">
&emsp;<span class="col-sm-2 col-form-label">Upload Product Image: </span><input type="file" name="img" accept="image/*">
</div>
{% if typ == "Book" %}
<div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Enter Title: </span><input type="text" id="title" name="title">
</div>
    <div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Enter Edition: </span><input type="text" id="ed" name="ed">
    </div>
    <div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Enter Course: </span><input type="text" id="course" name="course">
    </div>
{% elif typ == "Sports Gear" %}
<div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Enter Type: </span><input type="text" id="kind" name="kind">
</div>
    <div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Enter Weight: </span><input type="text" id="weight" name="weight">
    </div>
{% elif typ == "Clothing" %}
<div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Enter Type: </span><input type="text" id="type" name="type">
</div>
    <div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Enter Color: </span><input type="text" id="color" name="color">
    </div>
    <div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Enter Size: </span><input type="text" id="sz" name="sz">
    </div>
{% elif typ == "Electronic" %}
<div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Enter Type: </span><input type="text" id="type" name="type">
</div>
    <div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Enter Model: </span><input type="text" id="model" name="model">
    </div>
    &emsp;Enter Dimensions:<br>
    <div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Length: </span><input type="text" id="l" name="l">
    </div>
    <div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Width: </span><input type="text" id="w" name="w">
    </div>
    <div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Height: </span><input type="text" id="h" name="h">
    </div>
    <div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Enter Weight: </span><input type="text" id="weight" name="weight">
    </div>
{% elif typ == "Furniture" %}
<div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Enter Type: </span><input type="text" id="type" name="type">
</div>
    <div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Enter Color: </span><input type="text" id="color" name="color">
    </div>
    &emsp;Enter Dimensions (Please include units):<br>
    <div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Length: </span><input type="text" id="l" name="l">
    </div>
    <div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Width: </span><input type="text" id="w" name="w">
    </div>
    <div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Height: </span><input type="text" id="h" name="h">
    </div>
    <div class="form-group row">
    &emsp;<span class="col-sm-2 col-form-label">Enter Weight: </span><input type="text" id="weight" name="weight">
    </div>

{% endif %}

&emsp;<button type="submit" class = "btn btn-primary">Submit to Marketplace</button>
<input type='hidden' name='seller', value='{{user}}'/>
</form>
</form>
<br>
<br>
&emsp;<a href="/sell"><input type="button" value="Return to Seller Tab" class = "btn btn-secondary"></a>
<br><br>

{%endblock%}